<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H.F.R.I</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css"> 
</head>
<body>
    <div class="logo">
        <img src="/static/HFRI_LOGO_SMALL.png" alt="Logo photo">
    </div>
    <div class="topnav">
        <a href="{{url_for('index')}}">Home</a>
        <a href="page_1.html">Search per condition</a>
        <a href="page_2.html">Views</a>
        <a href="page_3.html">Scientific Fields</a>
        <a href="page_4.html">Organizations</a>
        <a href="page_5.html">Interdisciplinary Research Programmes</a>
        <a class="active" href="page_6.html">Young Researchers</a>
        <a href="page_7.html">Top 5 Executives</a>
        <a href="page_8.html">Researchers</a>
        <a href="page_9.html">Edit Data</a>
    </div>
    <div class="table-title">
        Young Researchers that work on the most projects:
    </div>
</div>
<div class="table-sec">
    <table border=1>
        <th>Researcher</th>
        <th>Number of projects</th>
        {% for t in tuples %}
        <tr>
            <td>{{t[0]}}</td>
            <td>{{t[1]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
</body>