<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H.F.R.I</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css"> 
</head>
<body>
    <div class="logo">
        <img src="/static/HFRI_LOGO_SMALL.png" alt="Logo photo">
    </div>
    <div class="topnav">
        <a href="{{url_for('index')}}">Home</a>
        <a href="page_1.html">Search per condition</a>
        <a href="page_2.html">Views</a>
        <a href="page_3.html">Scientific Fields</a>
        <a href="page_4.html">Organizations</a>
        <a href="page_5.html">Interdisciplinary Research Programmes</a>
        <a href="page_6.html">Young Researchers</a>
        <a href="page_7.html">Top 5 Executives</a>
        <a href="page_8.html">Researchers</a>
        <a class="active" href="page_9.html">Edit Data</a>
    </div>
    <div class="side_by_side"></div>
        <div class="pick_table">
            1. Choose action:
        </div>
        <div class="dropdown">
            <a class="dropbtn" href="#">
                Insert
            </a>
        </div>
        <div class="pick_table">
            2. Choose a table:
        </div>
        <div class="dropdown">
            <a class="dropbtn" href="#">
                Scientific field
            </a>
        </div>
        <div class="padding_1">
            <div class="table-title">Insert on table:</div>    
            <div class="search_form" action="">
                <form  method="post" >
                    <label for="ex_l_name">New Scientific field :</label>
                    <input type="text" id="ex_l_name" name="ex_l_name"><br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

</body>