<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H.F.R.I</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css"> 
</head>
<body>
    <div class="logo">
        <img src="/static/HFRI_LOGO_SMALL.png" alt="Logo photo">
    </div>
    <div class="topnav">
        <a href="{{url_for('index')}}">Home</a>
        <a href="page_1.html">Search per condition</a>
        <a href="page_2.html">Views</a>
        <a href="page_3.html">Scientific Fields</a>
        <a href="page_4.html">Organizations</a>
        <a href="page_5.html">Interdisciplinary Research Programmes</a>
        <a href="page_6.html">Young Researchers</a>
        <a href="page_7.html">Top 5 Executives</a>
        <a href="page_8.html">Researchers</a>
        <a class="active" href="page_9.html">Edit Data</a>
    </div>
    <div class="pick_table">
        1. Insert
    </div>
    <div class="search_form" action="">
        <form  method="post" >
            <label for="project">First name:</label>
            <input type="text" id="r_f_name" name="r_f_name"><br><br>
            <label for="project">Last name:</label>
            <input type="text" id="r_l_name" name="r_l_name"><br><br>
            <label for="project">Sex:</label>
            <input type="text" id="r_sex" name="r_sex"><br><br>
            <label for="project">Birthdate:</label>
            <input type="text" id="r_bday" name="r_bday"><br><br>
            <label for="project">Organization:</label>
            <input type="text" id="r_org" name="r_org"><br><br>
            <label for="project">Start date of working:</label>
            <input type="text" id="st_d_work_org" name="st_d_work_org"><br><br>
            <input type="submit" value="Submit" name="insert">
          </form>
    </div>
    <div class="pick_table">
        2. Update:
    </div>
    <div class="search_form" action="">
        <form  method="post" >
            <label for="project">New first name:</label>
            <input type="text" id="r_f_name" name="r_f_name"><br><br>
            <label for="project">New last name:</label>
            <input type="text" id="r_l_name" name="r_l_name"><br><br>
            <label for="project">New sex:</label>
            <input type="text" id="r_sex" name="r_sex"><br><br>
            <label for="project">New birthdate:</label>
            <input type="text" id="r_bday" name="r_bday"><br><br>
            <label for="project">New organization:</label>
            <input type="text" id="r_org" name="r_org"><br><br>
            <label for="project">New start date of working:</label>
            <input type="text" id="st_d_work_org" name="st_d_work_org"><br><br>

            <label for="project">Old first name:</label>
            <input type="text" id="old_r_f_name" name="old_r_f_name"><br><br>
            <label for="project">Old last name:</label>
            <input type="text" id="old_r_l_name" name="old_r_l_name"><br><br>
            <label for="project">Old birthdate:</label>
            <input type="text" id="old_r_bday" name="old_r_bday"><br><br>
            <input type="submit" value="Submit" name="update">
          </form>
    </div>
    <div class="pick_table">
        3. Delete:
    </div>
    <div class="search_form" action="">
        <form  method="post" >
            <label for="project">First name:</label>
            <input type="text" id="r_f_name" name="r_f_name"><br><br>
            <label for="project">Last name:</label>
            <input type="text" id="r_l_name" name="r_l_name"><br><br>
            <label for="project">Birthdate:</label>
            <input type="text" id="r_bday" name="r_bday"><br><br>
            <input type="submit" value="Submit" name="delete">
          </form>
    </div>