<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H.F.R.I</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css"> 
</head>
<body>
    <div class="logo">
        <img src="/static/HFRI_LOGO_SMALL.png" alt="Logo photo">
    </div>
    <div class="topnav">
        <a href="{{url_for('index')}}">Home</a>
        <a href="page_1.html">Search per condition</a>
        <a href="page_2.html">Views</a>
        <a href="page_3.html">Scientific Fields</a>
        <a href="page_4.html">Organizations</a>
        <a href="page_5.html">Interdisciplinary Research Programmes</a>
        <a href="page_6.html">Young Researchers</a>
        <a href="page_7.html">Top 5 Executives</a>
        <a href="page_8.html">Researchers</a>
        <a class="active" href="page_9.html">Edit Data</a>
    </div>
    <div class="pick_table">
        1. Insert
    </div>
    <div class="search_form" action="">
        <form  method="post" >
            <label for="project">Project title:</label>
            <input type="text" id="pr" name="pr"><br><br>
            <label for="project">Researcher's first name:</label>
            <input type="text" id="f_name" name="f_name"><br><br>
            <label for="project">Researcher's last name:</label>
            <input type="text" id="l_name" name="l_name"><br><br>
            <label for="project">Researcher's birthdate:</label>
            <input type="date" id="br" name="br"><br><br>
            <input type="submit" value="Submit" name="insert">
          </form>
    </div>
    <div class="pick_table">
        3. Delete:
    </div>
    <div class="search_form" action="">
        <form  method="post" >
            <label for="project">Project title:</label>
            <input type="text" id="pr" name="pr"><br><br>
            <label for="project">Researcher's first name:</label>
            <input type="text" id="f_name" name="f_name"><br><br>
            <label for="project">Researcher's last name:</label>
            <input type="text" id="l_name" name="l_name"><br><br>
            <label for="project">Researcher's birthdate:</label>
            <input type="date" id="br" name="br"><br><br>
            <input type="submit" value="Submit" name="delete">
          </form>
    </div>
    <div class="pick_table">
        4. Data:
    </div>
    <div class="table-sec">
        <table border=1>
            <th>Project name</th>
            <th>Researcher's name</th>
            {% for tuple in tuples %}
            <tr>
                <td>{{tuple[0]}}</td>
                <td>{{tuple[1]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>